body {
  background-color: #f7f7f7;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../public/img/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 40vh;
  padding-top: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#greeting {
  color: yellow;
  text-shadow: 2px 2px black;
}

.profile {
  box-sizing: border-box;
  border-radius: 20%;
  background-image: url(../public/img/json1.jpg);
  background-size: cover;
  height: 96px;
  width: 96px;
  border: 2px solid #D50000;
}

legend {
  text-align: left;
  text-shadow: 2px 2px black;
}

.section-label {
  font-family: 'Press Start 2P', cursive;
}
