.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skillgroup {
  font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;
  margin: 5px;
  padding-top: 30px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  color: white;
  border-radius: 10px 10%;
  width: 40%;
}
.skillgroup:nth-child(1) {
  background-color: #07338C;
}

.skillgroup:nth-child(2){
  background-color: #307CBF;
}

.skillgroup:nth-child(3){
  background-color: #3d5afe;
}
.skillgroup:last-child {
  background-color: #00bfa5;
}

.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 2px;
  border: 2px solid #EF6C00;
  height: 50px;
  width: 50px;
  border-radius: 10px 5%;
}

.skill-name {
  display:none;
  font-size: 7px;
}

.skill-svg {
  width: 100%;
}

.skill-label {
  font-size: x-small;
  text-align: left;
  padding-left: 12px;
  padding-bottom: 4px;
  flex: 0 0 100%;
}
