@media (min-width: 900px) {

  .skill {
    width: 90px;
    height: 90px;
  }

  .skill-name {
    display :flex;
    font-size: 10px;
    word-break:break-all
  }

  .skill-svg {
    width: 60%;
  }

  .skillgroup {
    width: 25%;
  }

}
